:root {
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 110%;
}

body {
  margin: 0;
  padding: 0.5em;
  font-family: "Work Sans", Helvetica, sans-serif;
  color: #394c4a;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav ul {
  list-style-type: none;
  display: flex;
}

header nav ul li {
  margin: 0 0.5em;
}

header nav ul li a {
  padding: 0.25em 1em;
  /* no underline */
  text-decoration: none;
  background-color: #394c4a;
  color: whitesmoke;
  border: 1px solid #394c4a;
  /* rounded corner */
  border-radius: 0.25em 0.25em;
}

header nav ul li a:hover,
header nav ul li a:focus {
  font-weight: bold;
}

header div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Main */
main section ul {
  list-style-type: none;
  margin: 0 0.5em;
  padding: 0 0.5em;
}

main section ul li {
  /* background-color: #808080; */
  display: flex;
  flex-direction: column;
}

main section ul li a {
  padding: 0.5em;
  text-decoration: none;
  color: #394c4a;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #d8dcde;
}

footer ul {
  display: flex;
  list-style-type: none;
}

footer ul li {
}

footer ul li a {
  padding: 1em;
  text-decoration: none;
}
